<div class="sign-forget-htm">
    <div class="container"> 

        <form [formGroup]="studentform" (ngSubmit)="onSubmit()">
          <h3>Edit student</h3>

          <div class="stu-reg">
            <div class="group">
                <label class="label">Registration No</label>
                <input  type="text" class="input"  formControlName="regno">
          
            </div>
          <div class="group">
            <label class="label">Username</label>
            <input  type="text" class="input"  formControlName="name">
          
        </div>
        <div class="group">
            <label class="label">Email</label>
            <input  type="email" class="input" formControlName="email">
           
        </div>
        <div class="group">
            <label class="label">Address</label>
            <input type="text" class="input"  formControlName="address">
            
        </div>
        <div class="group">
            <label class="label">PhoneNumber</label>
            <input type="text" class="input" formControlName="phonenumber">
          
        </div>
        <div class="group">
            <label for="pass" class="label">Father Name</label>
            <input type="text" class="input" formControlName="fathername">
          
        </div>
        <div class="group">
            <label  class="label">Mother Name</label>
            <input type="text" class="input"  formControlName="mothername">
           
        </div>
        <div class="group">
            <label  class="label">Parent Phone Number</label>
            <input type="text" class="input" formControlName="parentphonenumber">
           
        </div>
        <div class="group">
            <input type="submit" class="button" value="Update">
        </div>
        </div>
      
        </form>
      </div>