<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0" id="osa.html">
               
                <h1 class="mb-4">Old students Association</h1>
                <p>OSAs typically engage in activities such as organizing reunions, alumni networking events, fundraising campaigns for the school, and mentoring programs for current students. They may also provide scholarships or other forms of support to students in need.

                    Being a part of an OSA can offer several benefits to alumni, such as networking opportunities, a sense of community, and a chance to give back to their school. Additionally, OSAs can help schools by increasing alumni engagement and support, which can be beneficial for recruitment, fundraising, and overall reputation.</p>
                
            </div>
            <div class="col-lg-5" id="">
                <div class="card border-0">
                    <div class="card-header bg-secondary text-center p-4">
                        <h1 class="text-white m-0">Register in OSA</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Your Name" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                            </div>
                            <div class="form-group">
                                <select class="custom-select border-0 px-4" style="height: 47px;">
                                    <option selected>Select A/L batch</option>
                                   
                                    <option value="1">1990</option>
                                    <option value="2">1991</option>
                                    <option value="3">1992</option>
                                    <option value="1">1993</option>
                                    <option value="2">1994</option>
                                    <option value="3">1995</option>
                                      
                                    <option value="4">1996</option>
                                    <option value="5">1997</option>
                                    <option value="6">1998</option>
                                    <option value="7">1999</option>
                                    <option value="8">2000</option>
                                    <option value="9">2001</option>
                                    <option value="10">2002</option>
                                    <option value="11">2003</option>
                                    <option value="12">2004</option>
                                    <option value="13">2005</option>
                                    <option value="14">2006</option>
                                    <option value="15">2007</option>
                                      
                                    <option value="16">2008</option>
                                    <option value="17">2009</option>
                                    <option value="18">2010</option>
                                    <option value="19">2011</option>
                                    <option value="20">2012</option>
                                  
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-secondary btn-block border-0 py-3" type="submit">Register Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
