<!DOCTYPE html>
<a href="#" class="btn btn-primary p-3 back-to-top" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<html lang="en">
   
<head>
    <meta charset="utf-8">
    <title>J/Yarlton College</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
  
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
              
                <img src="assets/photos/R.jpg" height="15%" width="15%" align="left" padding-ight="-10px">
                <h2>J/Yarlton College</h2>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px">Home</a>
                    <a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px">AboutUS</a>
                    <a routerLink="/photo-gallery" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px">PhotoGallery</a>
                    <a routerLink="/osa" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px">OSA</a>
                    <a routerLink="/latestnews" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px">LatestNews</a>
                    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px">Login</a>
                </div>
               
            </div>
        </nav>
    </div>
    <router-outlet></router-outlet>
   
    <footer class="footer-distributed" style="background-color: #6495ED !important;">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
                <div class="footer-left">
    
                    <img src="assets/photos/R.jpg" height="15%" width="15%" align="left">
    
                    <div>
                        <h3 class="text-primary mb-4">Get In Touch</h3>
                        <div class="d-flex">
                            <h4 class="fa fa-map-marker-alt text-primary"></h4>
                            <div class="pl-3">
                                <h5 class="text-white">Address</h5>
                                <p>Alady, Karainagar, Jaffna,SriLanka</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <h4 class="fa fa-envelope text-primary"></h4>
                            <div class="pl-3">
                                <h5 class="text-white">Email</h5>
                                <p>yarltoncollegekarai@gmail.com</p>
                            </div>
                        </div>
                        <div class="d-flex">
                            <h4 class="fa fa-phone-alt text-primary"></h4>
                            <div class="pl-3">
                                <h5 class="text-white">Phone</h5>
                                <p>0212225357</p>
                            </div>
                        </div>
                    </div>
                    <p class="footer-company-name">J/YarltonCollege © 2023</p>
    
                    
    
                </div>
                <span class="bi bi-facebook"></span>
                <span class='bi bi-instagram'></span>
               
            
                <div class="footer-right">
    
                    <p>Contact Us</p>
    
                    <form action="#" method="post">
    
                        <input type="text" name="email" placeholder="Email">
                        <textarea name="message" placeholder="Message"></textarea>
                        <button  type="button" class="btn btn-secondary">Send</button>
    
                    </form>
                    <br/><br/>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3932.268174696345!2d79.86935320924863!3d9.743336477361071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe4cd64c045f13%3A0x3fd5caf4f2652ad0!2sYarlton%20College!5e0!3m2!1sen!2slk!4v1681646021876!5m2!1sen!2slk" width="100%" height="200"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </footer>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

   
</body>

</html>