
<div class="container">
    <h1>Student Details</h1>
      <table class="rwd-table">
        <tbody>
          <tr>
            
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Action</th>
          
          </tr>
          <tr  *ngFor="let user of users">
            <td data-th="Name">
                {{ user.name }}
            </td>
            <td data-th="Email">
                {{ user.email }}
            </td>
            <td data-th="Address">
                {{ user.address }}
            </td>
            <td data-th="Phone Number">
                {{ user.phonenumber }}
            </td>
            <td data-th="Action">
               <a (click)="getUser(user.regno)" ><i class="bi bi-pencil-square" style="justify-content: space-between;padding-right: 12px;"></i></a>
                <i class="bi bi-trash3-fill" (click)="deleteUser(user)"></i>
            </td>
            
            
          </tr>
      
        </tbody>
      </table>
   
    </div>




    