
<div class="container" style="margin-top: 30px;margin-bottom: 100px;">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
        <div class="col">
            <div class="card radius-15"style="background-color:	#00bfff">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        
                        <a routerLink="../adminview" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px"><h4>Students details</h4><i class="bi bi-folder"></i></a>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-15" style="background-color:	#00ffff">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <a routerLink="../adminadduser" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px"><h3>Add Students</h3><i class="bi bi-person-fill-add"></i></a>
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-15" style="background-color:#00bfff">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                       
                        <a routerLink="../adminview" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px"><h4>Teachers details</h4><i class="bi bi-folder"></i></a>
                     
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card radius-15" style="background-color:#00ffff">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                       
                        <a routerLink="../adminadduser" routerLinkActive="active" ariaCurrentWhenActive="page" style="margin-left:15px"><h3>Add Teachers</h3><i class="bi bi-person-fill-add"></i></a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>