<div class="photo-album" id="gallery.html">
		
    <h1><span> Photo Gallery</span></h1>
    
    <a href="http://www.flickr.com/photos/nataliedowne/2254117707/in/set-72157604232220981" class="large polaroid img1"><img src="assets/photos/yarlton1.jpg" alt="">Prize giving</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2254700486/in/set-72157604232220981/" class="polaroid img2"><img src="assets/photos/yarlton2.jpg" alt="">Sportsmeet</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2254704566/in/set-72157604232220981/" class="small polaroid img3"><img src="assets/photos/yarlton3.jpg" alt="">Principal farewell</a>
    
    <a href="http://www.flickr.com/photos/nataliedowne/2311404989/in/set-72157604232220981/" class="medium polaroid img4"><img src="assets/photos/yarlton4.jpg" alt="">Sportsmeet</a>
    
    <a href="http://www.flickr.com/photos/nataliedowne/2312219680/in/set-72157604232220981" class="polaroid img5"><img src="assets/photos/yarlton5.jpg" alt="">Prize giving 2022</a>
    
    
    <a href="http://www.flickr.com/photos/nataliedowne/2254789880/in/set-72157604232220981/" class="polaroid img6"><img src="assets/photos/yarlton6.jpg" alt="">Primary School Sportsmeet</a>
    
    <a href="http://www.flickr.com/photos/nataliedowne/2341399904/in/set-72157604232220981/" class="polaroid img7"><img src="assets/photos/yarlton7.jpg" alt="">Cultural programme</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2352603191/in/set-72157604232220981/" class="small polaroid img8"><img src="assets/photos/yarlton8.jpg" alt="">School Cultural programme</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2340993237/in/set-72157604232220981/" class="medium polaroid img9"><img src="assets/photos/yarlton9.jpg" alt="">Principal farewell</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2306995686/in/set-72157604033893095/" class="polaroid img10"><img src="assets/photos/yarlton10.jpg" alt="">Primary School Sportsmeet</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2306989200/in/set-72157604033893095/" class="small polaroid img11"><img src="assets/photos/yarlton11.jpg" alt="">Primary School Sportsmeet</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2352608953/in/set-72157604232220981/" class="small polaroid img12"><img src="assets/photos/yarlton12.jpg" alt="">Principal farewell</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2341816430/in/set-72157604232220981/" class="small polaroid img13"><img src="assets/photos/yarlton13.jpg" alt="">Navarathri festival</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2352490411/in/set-72157604232220981/" class="small polaroid img14"><img src="assets/photos/yarlton14.jpg" alt="">Navarathri festival</a>
    <a href="http://www.flickr.com/photos/nataliedowne/2339184562/in/set-72157604232220981/" class="polaroid img15"><img src="assets/photos/yarlton15.jpg" alt="">Secondary School Sportsmeet</a><br/><br/>

</div>