

        <!-- <div>
           
            <h1 class="display-3" align="center"><font face="algerian">Welcome to our School</font></h1>
            <p>Yarlton College  is a provincial school in Alady,Karainagar,Jaffna,Sri Lanka.J/Yarlton college was founded in 1947.We offers classes from G1-G13. This is mixed school. </p>
           
        </div>
        <carousel>
            <slide>
              <img src="assets/photos/school.JPG" alt="Slide 1" width="100%" height="350px" align="center">
            </slide>
            <slide>
              <img src="assets/photos/2.jpg" alt="Slide 2"  width="100%" height="350px" >
            </slide>
          
          </carousel><br/><br/> -->
          <div class="container-fluid bg-primary px-0 px-md-5 mb-5" style="background-color: #17a2b8 !important;">
            <div class="row align-items-center px-3">
                <div class="col-lg-6 text-center text-lg-left">
                   
                    <h1 class="display-3"><font face="algerian">Welcome to our School</font></h1>
                    <p class="text-white mb-4" align="left">Yarlton College  is a provincial school in Alady,Karainagar,Jaffna,Sri Lanka.J/Yarlton college was founded in 1947.We offers classes from G1-G13. This is mixed school. </p>
                   
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <!-- <img class="img-fluid mt-5" src="school.jpg"  style="border-radius:10%" alt=""> -->
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <carousel>
                                <slide>
                                  <img src="assets/photos/school.JPG" alt="Slide 1" width="100%" height="350px" align="center">
                                </slide>
                                <slide>
                                  <img src="assets/photos/2.jpg" alt="Slide 2"  width="100%" height="350px" >
                                </slide>
                              
                              </carousel>
                          
                        </div>
                     
                      </div>
                </div>
            </div>
        </div>
    

        

